nav {
  background: darkgray;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
}

nav a {
  background: transparent;
  padding: 0.5rem;
  display: flex;
  color: black;
  font-size: 1.1rem;
  border-radius: 50%;
}

nav a:hover {
  background: gray;
}

nav a.active {
  background: var(--color-bg);
  color: black;
}
